@import '../global-variables.css';

nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    line-height: 1;
    padding-bottom: 2.5em;
    
}

h1 a {
    font-weight: 600;
    font-style: normal;
    font-size: 60pt;
    text-decoration: none;
    color: var(--main-font-color);

}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--main-color);
}
ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    background-color: var(--main-font-color);
}
ul a {
    color: var(--main-color);
    font-size: 30pt;
    text-decoration: none;
}

li a:hover {
    color: var(--main-font-color);
    text-shadow: -2px 0px var(--main-color), 0px 2px var(--main-color),  2px 0px var(--main-color), 0px -2px var(--main-color);
}