@import 'global-variables.css';

* {
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    color: var(--main-font-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    margin: auto;
    width: 90%;
}

main-component {
    display: flex;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100%;
    align-items: center;
}

nav-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: static;
}