@import './global-variables.css';

* {
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
}

app-component {
    display: flex;
    margin: auto;
    width: 90%;
}
